@using PharmacyWeb.Enums;
@model ProductIndexViewModel

<a asp-controller="Product" asp-action="CreateProduct" class="btn-block">Create</a>
<div class="row">
    <div class="nav col-3">
        <div>

            <form asp-controller="Product" asp-action="Index" method="get">

                <label>Firm</label>
                <select name="firmFilter" asp-items="@Model.Filter.Firms" class="form-control"></select>

                <label>Sort by</label>
                <select name="sortState" asp-items="@Model.Sort.SortStates" class="form-control"></select>

                <input type="submit" value="Filter" class="btn btn-outline-dark" />

            </form>
        </div>
    </div>

    <div class="col-9 row">
        @foreach (var item in Model.Products)
        {
            <div class="col-4">
                <a asp-action="GetProduct" asp-route-id="@item.Id">
                    <img src="/Images/@item.Image" alt="Photo of Prouct" asp-append-version="true" />
                    <p class="text-black-50">@item.Cost грн</p>
                    <p>@item.Name</p>
                </a>
                <a asp-action="UpdateProduct" asp-route-id="@item.Id" class="btn btn-outline-dark">Update</a>
                <hr />
            </div>
        }
    </div>

    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           asp-route-firmFilter="@Model.Filter.SelectedFirm"
           asp-route-sortParams="@Model.Sort.SortState"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           asp-route-firmFilter="@Model.Filter.SelectedFirm"
           asp-route-sortState="@Model.Sort.SortState"
           class="btn btn-outline-dark">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>