@using PharmacyWeb.Enums;
@model ProductIndexViewModel

<a asp-controller="Product" asp-action="CreateProduct" class="btn-block">Create</a>
<div class="row">
    <div class="nav col-3">
        <div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-action="Index" asp-route-sortParams="@SortParamaters.NameAsc" asp-route-checkedFirms="@Model.Firms">A-Z</a>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortParams="@SortParamaters.NameDesc">Z-A</a>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortParams="@SortParamaters.PriceAsc">Ascending price</a>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortParams="@SortParamaters.PricaDesc">Descending price</a>
                </div>
            </div>
            <form asp-controller="Product" asp-action="Index">
                @for (int i = 0; i < @Model.Firms.Count(); i++)
                {
                    <div class="row form-check">
                        <input class="form-check-input col-2" type="submit" asp-route-checkedFirms="@Model.Firms[i]">
                        <p class="col-10">@Model.Firms[i]</p>
                    </div>
                }
                <div>
                    <input type="submit" value="Ok" class="btn btn-block" />
                </div>
            </form>
        </div>
    </div>

    <div class="col-9 row">
        @foreach (var item in Model.Products)
        {
            <div class="col-4">
                <a asp-action="GetProduct" asp-route-id="@item.Id">
                    <img src="/Images/@item.Image" alt="Photo of Prouct" asp-append-version="true" />
                    <p class="text-black-50">@item.Cost грн</p>
                    <p>@item.Name</p>
                </a>
                <a asp-action="UpdateProduct" asp-route-id="@item.Id" class="btn btn-outline-dark">Update</a>
                <hr />
            </div>
        }
    </div>

    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>