@using PharmacyWeb.Enums;
@model ProductIndexViewModel

<a asp-controller="Product" asp-action="CreateProduct" class="btn-block">Create</a>
<div class="row">
    <div class="nav col-2">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by
            </a>
            <a class="dropdown-item" asp-action="Index" asp-route-sortParams="@SortParamaters.NameAsc">A-Z</a>
            <a class="dropdown-item" asp-action="Index" asp-route-sortParams="@SortParamaters.NameDesc">Z-A</a>
            <a class="dropdown-item" asp-action="Index" asp-route-sortParams="@SortParamaters.PriceAsc">Ascending price</a>
            <a class="dropdown-item" asp-action="Index" asp-route-sortParams="@SortParamaters.PricaDesc">Descending price</a>
        </div>
    </div>

    <div class="col-10 row">
        @foreach (var item in Model.Products)
        {
            <div class="col-4">
                <a asp-action="GetProduct" asp-route-id="@item.Id">
                    <img src="/Images/@item.Image" alt="Photo of Prouct" asp-append-version="true" />
                    <p class="text-black-50">@item.Cost грн</p>
                    <p>@item.Name</p>
                </a>
                <a asp-action="UpdateProduct" asp-route-id="@item.Id" class="btn btn-outline-dark">Update</a>
                <hr />
            </div>
        }
    </div>

    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>